ul {
  list-style: none;
  margin: 0;
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
body, html {
  margin: 0;
  padding: 0;
  font-family: HarmonyOS_Sans_SC;
  font-size: 14px;
  background-color: #ebf0f6;
  .filter-table {
    padding: 8px 0;
    margin-top: 8px !important;
    .el-checkbox {
      height: 36px;
      padding: 8px 16px;
      margin-right: 0;
      padding-right: 30px;
      color: #000;
    }
    .el-checkbox__label {
      line-height: 20px;
    }
    .el-table-filter_bottom {
      margin: 8px 0;
      padding: 0 16px;
    }
    .el-checkbox:hover {
      background: #ebeff6;
    }
    .el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
      background-color: #07f;
      border-color: #07f;
    }
    .el-checkbox__input.is-disabled.is-checked .el-checkbox__inner {
      background-color: #bfc7d7;
      border-color: #bfc7d7;
    }
    .el-checkbox__input.is-disabled.is-checked .el-checkbox__inner::after {
      border-color: #ebedf3;
  }
    .el-checkbox__input.is-checked+.el-checkbox__label {
      color: #000;
  }
  }
}

.el-input {
  width: 326px;
  height: 36px;
  .el-input__inner {
    height: 36px;
    border-radius: 2px;
    border: 1px solid #c3cedf;
    font-size: 14px;
  }
  .el-input__inner:hover {
    border: 1px solid #6fb2fd;
  }
  .el-input__inner:active,
  .el-input__inner:focus {
    border: 1px solid #2d8efd;
  }
  input::placeholder {
    color: #8d98aa;
  }
}

.el-table--border::after, .el-table--group::after, .el-table::before {
  background-color: transparent;
}
.el-table--border tr th::after {
  background-color: #dfe5ef;
  content: '';
  position: absolute;
  top: 8px;
  right: 0;
  bottom: 8px;
  width: 1px;
}
.el-table {
  font-family: HarmonyOS_Sans_SC;
  font-size: 14px;
  color: #000000;
  .has-gutter {
    .el-table__cell {
      padding: 7px 0;
    }
    .cell {
      color: #4e5865;
      font-weight: 500;
      line-height: 17px;
    }
  }
  .el-table__cell:nth-last-child(2)::after {
    width: 0;
  }
  .caret-wrapper {
    height: 20px;
  }
  .el-table__body td.el-table__cell {
    border-right: none;
    padding: 0;
    .cell {
      white-space: nowrap;
      line-height: normal;
    }
  }
  .sort-caret.descending {
    bottom: 0px;
    border-top-color: #8d98aa;
  }
  .sort-caret.ascending {
    top: -2px;
    border-bottom-color: #8d98aa;
  }
}
.el-table--border,
.el-table--group {
  border: none;
  th.el-table__cell.is-leaf {
    border-right: none;
  }
}
.el-icon-arrow-down:before {
  content: url(../../assets/login/screen1.svg);
}
.highlight>.el-table__column-filter-trigger i {
  color: #07f;
}
.highlight>.el-table__column-filter-trigger>.el-icon-arrow-down::before {
  content: url(../../assets/login/screen3.svg);
}
.el-icon-arrow-down:hover {
  content: url(../../assets/login/screen2.svg);
}
.el-table__column-filter-trigger {
  line-height: 1;
  height: 16px;
  width: 16px;
  padding-top: 3px;
  vertical-align: top;
  text-align: center;
  padding-left: 8px;
  i {
    transform: scale(1);
  }
}
.el-pagination {
  padding-top: 20px;
  position: absolute;
  .el-pagination__total {
    font-size: 12px;
    color: #4e5865;
  }
  .el-pager li {
    font-size: 12px;
    color: #4e5865;
  }
  .el-pager li.active {
    color: #07f;
  }
}
.el-pagination__sizes {
  margin-top: -4px;
  .el-input .el-input__inner {
    font-size: 12px;
    color: #4e5865;
  }
  .el-icon-arrow-up:before {
    content: url(../../assets/list/arrow2.svg);
  }
  .el-input--mini .el-input__icon {
    margin-top: -4px;
    margin-right: 12px;
  }
  .el-select .el-input .el-select__caret.is-reverse {
    margin-top: 4px;
  }
}
.el-pagination__jump {
  margin-left: 6px;
  margin-top: -3px;
  font-size: 12px !important;
  color: #4e5865 !important;
}
.el-pagination__editor.el-input {
  width: 50px !important;
  font-size: 12px;
  color: #4e5865;
  .el-input__inner {
    width: 40px;
    height: 32px;
  }
}
.el-tag.el-tag--info {
  background: #dfe5ef;
  color: #000000;
  width: 160px;
  height: 24px;
  line-height: 24px;
  padding: 0 32px 0 8px;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-right: 8px;
  transform: translate(12px, 8px);
  cursor: pointer;
}
.el-tooltip__popper.is-light {
  border: 1px solid #dfe5ef;
  background: #f4f6fa;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.20);
  font-size: 14px;
}

.el-tooltip__popper .popper__arrow, .el-tooltip__popper .popper__arrow::after {
  border-color: #dfe5ef;
  background: #f4f6fa;
}
.el-tooltip__popper.is-light[x-placement^=top] .popper__arrow {
  border-top-color: #dfe5ef;
}
.el-tag--small {
  margin-left: 0px !important;
  border-radius: 8px;
  line-height: 16px;
  height: 16px;
  padding: 0 4px;
}
.el-tag .el-icon-close {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 8px;
  width: 14px;
  height: 14px;
  background: #8d98AA;
  color: #fff !important;
}
.el-tag.el-tag--info .el-tag__close:hover {
  background: #07f;
}
.el-button {
  height: 36px;
  font-family: HarmonyOS_Sans_SC;
  font-size: 14px;
  color: #000;
  padding: 8px 16px;
  border-radius: 2px;
}
.el-table-filter_bottom {
  margin-top: 16px;
  text-align: center;
  padding-right: 12px;
}

.el-checkbox {
  display: block;
}
.el-popover__reference-wrapper .el-popover__reference {
  margin: 0;
}

.el-tooltip__popper[x-placement^=right] {
  margin-left: 0px;
  padding: 5px;

}

.el-checkbox:last-of-type {
  padding-bottom: 0px;
}

.el-button--primary, .el-button--primary:focus, .el-button--primary:active{
  background-color: #07f;
  color: #fff;
  border-color: #07f;
}

.el-button--primary:hover {
  background-color: #52a3ff;
  border-color: #52a3ff;
}

.el-button+.el-button {
  margin-left: 8px;
}

.el-button--small {
  padding: 8px 16px;
  border-radius: 2px;
}

.el-tooltip__popper .popper__arrow, .el-tooltip__popper .popper__arrow::after {
  border-color: transparent;
  background: none;
}
.el-tooltip__popper.is-light[x-placement^=right] .popper__arrow {
  border-right-color: #f4f6fa;
}
.el-popper[x-placement^=bottom] .popper__arrow {
  display: none;
 }
.el-popper[x-placement^=bottom] {
  margin-top: 4px;
}
.el-checkbox {
  padding: 4px;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-thumb { //滑块部分
  border-radius: 5px;
  background-color: #bfc7d7;
}
::-webkit-scrollbar-track { //轨道部分
  background: #fff;
  border-radius: 5px;
}
.el-card__body {
  padding: 16px 24px;
}
.el-timeline-item {
  padding-bottom: 0;
}
.el-timeline-item__timestamp.is-top {
  margin-bottom: 4px;
  padding-top: 0;
}
.el-timeline {
  padding-left: 0;
}

.el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
  background: #ebeff6;
}

.el-icon-setting:before {
  content: url('@/assets/list/setting.svg');
  font-size: 16px;
  cursor: pointer;
}

.el-icon-caret-right:before {
  content: url('@/assets/menu/arrow1.svg');
}

.tooltip-end {
  transform-origin: left center !important;
  height: 32px;
  padding: 7px;
}

.popper-more {
  min-width: 88px;
  padding: 4px 0px;
  .more-btn {
    color: #000;
    font-size: 14px;
    p {
      padding: 7px 15px;
      margin: 0;
      cursor: pointer;
    }
    p:hover {
      background: #ebeff6;
    }
    p:active {
      color: #07f;
    }
  }
}

.el-message-box__header {
  padding: 16px 24px;
  font-weight: 700;
  box-shadow: inset 0 -1px 0 0 #dfe5ef;
  border-radius: 4px 4px 0 0;
}
.el-message-box {
  padding-bottom: 24px;
}
.el-message-box__title {
  font-size: 16px;
  line-height: 24px;
  color: #000;
}
.el-message-box__content {
  padding: 24px;
  color: #4e5865;
}
.el-message-box__btns {
  padding: 8px 15px 0;
  text-align: center;
  .el-button {
    width: 96px;
  }
  .el-message-box__btns button:nth-child(2) {
    margin-left: 16px;
  }
}

.el-message--success {
  background-color: #c2e7c7;
  border-color: #24ab36;
  border-radius: 2px;
}
.el-message .el-icon-success {
  color: #24ab36;
}
.el-message--success .el-message__content {
  color: #000;
}
.el-message__closeBtn {
  color: #94a2ae;
}
.el-dialog {
  min-width: 926px;
}

.el-dialog__header {
  padding: 16px 24px;
  background: #fefefe;
  box-shadow: inset 0 -1px 0 0 #dfe5ef;
  border-radius: 4px 4px 0 0;
  .el-dialog__title {
    font-size: 16px;
    font-weight: 700;
  }
}
.el-dialog__footer {
  padding: 2px 0 24px 0;
  text-align: center;
  .el-button {
    width: 96px;
  }
  .el-button + .el-button {
    margin-left: 16px;
  }
}
.el-dialog__body {
  padding: 0 24px;
  margin-top: 24px;
}
.el-radio__input.is-checked+.el-radio__label {
  color: #000;
}
.project-card {
  display: block;
  margin-top: 16px;
}

.el-button:hover {
  color: #52a3ff;
  border-color: #52a3ff;
  background-color: transparent;
}
.el-button:disabled {
  color: #bfc7d7;
  border-color: #bfc7d7;
  background-color: #ebedf3;
}
.el-button:active, .el-button:focus{
  color: #07f;
  border-color: #07f;
  background-color: transparent;
}
.el-button--primary:hover {
  color: #fff;
  background-color: #52a3ff;
  border-color: #52a3ff;
}
.el-button--primary:active{
  color: #fff;
  background-color: #52a3ff;
  border-color: #52a3ff;
}
.el-button--primary:focus {
  color: #fff;
  border-color: #07f;
  background-color: #07f;
}
.el-button--primary:disabled {
  background-color: #b8d9ff;
  color: #fff;
}
.is-error .el-input__inner {
  background: #f7c1c1;
  border-color: #e32020
}
